@model Server_v0._0.Models.Time_ss

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Time_ss</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_Time" />
            <div class="form-group">
                <label asp-for="Time_Lecture" class="control-label"></label>
                <input asp-for="Time_Lecture" class="form-control" />
                <span asp-validation-for="Time_Lecture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time_Work" class="control-label"></label>
                <input asp-for="Time_Work" class="form-control" />
                <span asp-validation-for="Time_Work" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time_Labor" class="control-label"></label>
                <input asp-for="Time_Labor" class="form-control" />
                <span asp-validation-for="Time_Labor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Sem" class="control-label"></label>
                <input asp-for="Id_Sem" class="form-control" />
                <span asp-validation-for="Id_Sem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Subj" class="control-label"></label>
                <input asp-for="Id_Subj" class="form-control" />
                <span asp-validation-for="Id_Subj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
