@model Server_v0._0.Models.Semestr

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Semestr</h4>
    <div>
        <dl>
            <dt>ID</dt>
            <dd>@Model.Id_Sem</dd>
        </dl>
    </div>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
